div{
    width: 200px;
    height: 100px;
    background: blue
}
@media screen and (min-height: 200px){
    div{
        width: 100px;
        height: 100px;
        background: red;
        transition: width 5s, height 1s, transform 2s;
    }
}