.flex-container {
    display: flex;
    flex-direction: row;
    background-color: dodgerblue;
    width: auto;
    height: 75px;
}

.flex-container > div{ 
    width: 500px;
    margin: 22px;
    float: right;
    text-align: center;
    line-height: normal;
    font-size: 25px;
}